<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AgentMulder" version="1.1.2" />
  <package id="AngularJS" version="1.2.0" />
  <package id="ReSharper.ExternalAnnotations" version="8.2.2001.1" />
  <package id="ReSharper.InternalsVisibleTo" version="0.1.5" />
  <package id="ReSharper.NuGet" version="1.4.1334.1241" />
  <package id="ReSharper.RazorExtensions" version="1.2.0" />
  <package id="xunitcontrib" version="2.0.0-alpha-20140502" />
</packages>
